/* responsive */
@media (max-width: 2300px) {
  .container {
    width: 70%;
  }
  .containerSlide {
    margin-left: 19.0746rem;
  }

}
@media (max-width: 1921px) {
  html {
    font-size: 1.0625rem;
  }
  .container {
    width: 90%;
  }
  .containerSlide {
    margin-left: 6.0746rem;
  }
  .promo .se3_desc {
    left: 67%;
  }
}
@media (max-width: 1707px) {
  html {
    font-size: 1rem;
  }
}
@media (max-width: 1600px) {
  .containerSlide {
    margin-left: 4.5rem;
  }
  footer .f_wrapper01 .third {
    font-size: 0.9375rem;
  }
}

@media (max-width: 1500px) {
  html {
    font-size: 0.9375rem;
  }
}
@media (max-width: 1400px) {
  h2 {
    font-size: 2.5rem;
  }
  .imgDesc {
    font-size: 1.2rem;
  }
  html {
    font-size: 0.875rem;
  }
  .containerSlide {
    margin-left: 8.5rem;
  }
  .subNav_content {
    grid-template: 2.5rem / repeat(8, 1fr);
  }
  .bestList  img {
    width: 18.5rem;
  }
  .magazine .magaImg img {
    width: 36.75rem;
    height: 45.0625rem;
  }
  .promo article > img {
    width: 62.375rem;
  }
  .promo article h3 {
    font-size: 2.125rem;
  }
  .promo .se3_desc {
    padding: 1.5rem 3.125rem;
  }
  .sec3_p {
    font-size: 1.125rem;
  }
}
@media (max-width: 1300px) {
  .containerSlide {
    margin-left: 6.5rem;
  }
  .bestList img {
    width: 16.5rem;
  }

  footer {
    padding: 5rem 8rem;
  }
  footer section {
    gap: 10.625rem;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 0.8125rem;
  }

  .subNav_content {
    grid-template: 2.5rem / repeat(6, 1fr);
  }

  .sec3_p {
    font-size: 0.9375rem;
  }
  /* footer section {
    gap: 11.625rem;
  } */
}
@media (max-width: 1100px) {
  .mainSection #controls {
    gap: 2.75rem;
    /* right: 12%; */
    bottom: 19%;
  }
  /* .container {
    max-width: 72.625rem;
  } */
  .notice_board .notice_content {
    width: 50%;
  }
  .slide-wrapper .imgWrap {
    height: 32.75rem;
  }
  .imgWrap > img {
    width: 67%;
  }
  .slide-wrapper .imgRight {
    gap: 3rem;
    width: 25%;
  }
  .slide_start .play,
  .slide_start .pause {
    bottom: unset;
  }
  /* .slide_start .btn {
    margin-top: -4.875rem;
  } */
  /* .red_Btn_big {
    width: 12.125rem;
  } */
  .magazine .magaImg img {
    width: 32.75rem;
    height: 38.0625rem;
  }
  .containerSlide {
    margin-left: 5.5rem;
  }
}
@media (max-width: 1024px) {
  .mainSection #controls {
    /* right: 12%; */
    bottom: 18%;
  }
  .promo .se3_desc {
    gap: 2rem;
  }
  .promo article .sale_inner {
    padding: 2rem 3rem;
  }
  footer {
    padding: 4rem 7rem;
  }
}

@media (max-width: 960px) {
  .gnb_search input{
    font-size: 65%;
  }
  html {
    font-size: 0.75rem;
  }
  h2 {
    font-size: 2rem;
  }
  .notice .notice_content {
    width: 80%;
  }
  .subNav_content {
    font-size: 2rem;
  }
}

@media (max-width: 834px) {
  .mainSection #controls {
    bottom: 24%;
  }
  /* .container {
    max-width: 60.625rem;
  } */
  .subNav a {
    padding: 0.425rem;
    font-size: 1rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  .slide-wrapper .imgWrap {
    height: 30.75rem;
  }
  .slide-wrapper .imgRight {
    gap: 3rem;
  }

  .magazine .magaImg img {
    width: 26.75rem;
    height: 30rem;
  }
  .y_Btn2 {
    width: 100%;
    /* width: 15.5rem; */
  }
  .promo article h3 {
    font-size: 1.875rem;
  }
  .promo .se3_desc {
    padding: 1.5rem 3.125rem;
    gap: 1.75rem;
  }
  .sec3_p {
    font-size: 0.8125rem;
  }
  .promo article h3 {
    line-height: 2.75rem;
  }
  .promo article > img {
    width: 52.375rem;
  }
  footer {
    padding: 4rem;
  }
  #btn_top {
    width: 2.25rem;
    height: 2.25rem;
    line-height: 1.875rem;
    font-size: 1.25rem;
    right: 3%;
    top: 90%;
    border-radius: 5px;
  }
  #btn_top i {
    position: absolute;
    top: 29%;
    right: 50%;
    left: 46%;
    bottom: -20%;
  }
  footer .f_wrapper01 .third {
    font-size: 0.7375rem;
  }
  footer section {
    gap: 8.625rem;
  }
  footer {
    padding: 4rem 2rem;
}
}
@media (max-width: 770px) {
  .slider_wrapper .wish_alert01, .slider_wrapper .wish_alert02, .slider_wrapper .cart_alert01, .slider_wrapper .cart_alert02 {
    bottom: 15%;
  }
  .first_modal {
    top: 10%;
    left: 6%;
    border: 1.5px solid var(--Y);
    box-shadow:none;
    font-size: 0.9rem;
  }
  html {
    font-size: 0.625rem;
  }
  h1 > .logo {
    margin-top: 4px;
  }
  .notice_board .notice_content {
    width: 60%;
  }
  .containerSlide {
    margin-left: 4.5rem;
  }
  .promo .se3_desc {
    padding: 1.5rem 2.7rem;
    gap: 1.25rem;
  }
  .magazine .magaImg img {
    width: 28.75rem;
    height: 34rem;
  }
}

@media (max-width: 690px) {
  html {
    font-size: 0.5625rem;
  }
  .notice .notice_content {
    width: 80%;
  }
  .notice_board .notice_content a {
    font-size: 1rem;
  }

  aside {
    gap: 2rem;
  }

  aside .icon i {
    font-size: 1.5rem;
  }
  aside .icon span {
    font-size: 1rem;
  }
  .slide-wrapper .imgWrap {
    width: 93%;
    height: 29.75rem;
  }
}
@media (max-width: 600px) {
  .first_modal{
    width: 60%;
  }
  .magazine .magaImg img {
    width: 25.75rem;
    height: 29rem;
  }
  footer {
    padding: 3rem 1rem;
  }
}
@media (max-width: 551px) {
  .gnb_search input{
    padding: 3px;
  }
  html {
    font-size: 0.5rem;
  }

  .subNav_content {
    grid-template: 2.5rem / repeat(5, 1fr);
  }
  .slide-wrapper .imgWrap {
    width: 92%;
  }
  .sec3_p {
    font-size: 0.6125rem;
  }
  footer .f_wrapper02 li:nth-child(3) {
    line-height: 1.8rem;
  }
  footer .f_wrapper01 .third {
    line-height: 1.9rem;
  }
}
@media (max-width: 500px) {
  .containerSlide {
    margin-left: 2.5rem;
  }
  .slide-wrapper .imgWrap {
    width: 95%;
  }
  .magazine .magaImg img {
    width: 22.75rem;
    height: 28rem;
  }
  .gnb_search {
    display: block;
    width: 14.75rem;
  }

  .gnb_search input {
    opacity: 1;
  }

  .gnb_search::before {
    left: 0;
  }
  .gnb_search input {
    font-size: 55%;
    padding: 3px;
  }
  .notice_board .notice_content {
    width: 80%;
  }
  .notice_board .notice_content a {
    font-size: 0.8rem;
  }
}

@media (max-width: 431px) {
  .bestList img {
    width: 13.5rem;
  }
  .wish_Btn i, .cart_Btn i {
    font-size: 0.9rem;
  }
  .etc{
    font-size: 0.8rem;
  }
  .best_desc .review_num {
    margin-right: 0;
  }
  .best_desc {
    gap: 0.9rem;
    padding: 0.9rem;
  }
  footer h1 > .logo {
    display: inline-block;
    width: 15rem;
    height: 2.375rem;
    background: url(../img/logo.png) 0 0 no-repeat;
    background-size: contain;
  }
  aside .icon span {
    font-size: 0.7rem;
  }
  .first_modal {
    border: 1.5px solid var(--Y);
    box-shadow:none;
    top:20%;
  }

footer {
  margin-top: 6.875rem;
}
  .red_Btn_big span{
    font-size: 1rem;
  }
  .red_Btn_big{
    padding: 1rem;
  }
  .mainSection #controls{
    display: none;
  }
  html {
    font-size: 0.4375rem;
  }
  .mainNAV {
    margin-top: 12px;
    margin: 0px 2rem;
  }
  .containerSlide {
    margin-top: 5.5rem;
  }
  .notice_board {
    height: 2.375rem;
  }
  .subNav_content {
    grid-template: 2.125rem / repeat(3, 1fr);
  }
  .subNav a {
    font-weight: 300;
  }
  .imgWrap > img {
    width: 57%;
  }
  .slide-wrapper .imgWrap {
    height: 24.75rem;
    width: 100%;
  }
  .imgDesc {
    font-size: 1rem;
  }
  aside {
    /* flex-direction: column; */
    gap: 1.5rem;
  }

  .icon a {
    color: var(--G);
  }

  h2 {
    font-weight: 500;
  }
  .slide_start {
    height: 33.75rem;
  }
  .slide-wrapper .imgRight {
    gap: 2rem;
    width: 25%;
  }
  .imgDesc {
    font-weight: 300;
  }
  #imgTit {
    font-weight: 600;
  }
  .magazine article {
    flex-direction: column;
    text-align: center;
    gap: 8rem;
  }
  .maga {
    text-align: center;
  }
  .magazine article figure ul .DVALA {
    left: 22%;
  }
  .magazine article figure ul .DONALT {
    left: 35%;
  }
  .magazine article figure ul .NISKO {
    left: 20%;
  }
  .magazine article figure ul .LETANTO {
    right: 25%;
  }

  .random_coupon .notice {
    width: 45rem;
    height: 17.75rem;
  }
  .promo article > img {
    width: 42.375rem;
  }
  .promo article h3 {
    font-weight: 500;
  }
  .sec3_p {
    font-weight: 300;
  }
  .promo .se3_desc {
    left: 60%;
    width: 120px;
  }

  footer {
    padding: 2rem 2px;
  }

  footer section {
    gap: 2.625rem;
  }
  footer .f_wrapper01 .third {
    gap: 1rem;
    line-height: 1rem;
  }
  footer .f_wrapper02 li:nth-child(3) {
    line-height: 2.25rem;
  }
  .magazine {
    margin-top: 0;
  }
  .containerSlide {
    margin-top: 0;
  }
  .best {
    margin-top: 9.5rem;
  }
  .imgPrice {
    font-size: 2rem;
  }
 
}

@media (max-width: 391px) {
  .best_desc {
    gap: 1rem;
    padding: 1rem;
  }
  aside .icon span {
    font-size: 0.7rem;
}
  .section03 #accordionPanelsStayOpenExample {
    width: 93%;
}
  .slide-wrapper .imgRight {
    gap: 1rem;
  }
  .promo article > img {
    width: 35.375rem;
  }
  .promo .se3_desc {
    width: 95px;
  }
  .promo .se3_desc {
    left: 62%;
  }
  footer {
    padding: 0.3rem;
  }
  footer section {
    gap: 0.625rem;
  }
  footer .f_wrapper01 .ul_wrap01 ul, footer .f_wrapper02 > ul {
    font-size: 0.75rem;
  }
  footer .f_wrapper01 .second {
    margin-bottom: 0.813rem;
  }
  footer .f_wrapper01 .third {
    gap: 0.9rem;
    line-height: 1.2rem;
  }
  footer .f_wrapper02 > ul {
    gap: 0.563rem;
  }
  h1 > .logo {
    width: 13rem;
    height: 2.375rem;
  }
  footer .f_wrapper01 .ul_wrap01 {
    gap: 0.9rem;
  }  
}
